<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.checklist.comics.comicschecklist" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.Base" >
        <activity
            android:name=".ComicListActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>
        <activity
            android:name=".ComicDetailActivity"
            android:label="@string/title_comic_detail" >
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:label="@string/help_settings" >
        </activity>

        <!-- Service which launch search & download data -->
        <service
            android:name="org.checklist.comics.comicschecklist.service.DownloadService" >
        </service>

        <!-- Database & search suggestion provider -->
        <provider
            android:authorities="org.checklist.comics.comicschecklist.contentprovider"
            android:name=".provider.ComicContentProvider"
            android:exported="false"
            android:multiprocess="true" >
        </provider>

        <provider
            android:authorities="org.checklist.comics.comicschecklist.cartprovider"
            android:name=".provider.CartContentProvider"
            android:exported="false"
            android:multiprocess="true" >
        </provider>

        <provider
            android:authorities="org.checklist.comics.comicschecklist.suggestionprovider"
            android:name=".provider.SuggestionProvider"
            android:exported="false">
        </provider>

        <!-- Widget stuff -->
        <receiver android:name=".provider.WidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

        <service android:name=".service.WidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"
            android:exported="false" />

        <!--<activity
            android:name=".SettingsWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity> -->

        <!-- Alarm stuff -->
        <service android:name=".service.AlarmService"
            android:enabled="true" />

        <receiver android:name=".receiver.AlarmReceiver"/>

        <receiver android:name=".receiver.BootReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
